@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf");
  font-weight: 400;
}
body {
  margin: 0;
  font-family: "Gilroy";
}

a {
  color: #000;
  text-decoration: none;
}

li,
ul {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

body.active {
  overflow: hidden;
}

.header {
  background: linear-gradient(90deg, rgb(249, 241, 231) 0%, rgb(249, 241, 231) 66%, rgb(252, 248, 243) 66%, rgb(252, 248, 243) 100%);
  position: relative;
}

.menu__wrapper {
  display: flex;
  width: 100%;
  padding: 40px 0 30px 0;
  align-items: center;
  justify-content: flex-start;
}
.menu__logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 40px 0 0;
}
.menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu__list li {
  position: relative;
}
.menu__li {
  margin: 0 60px 0 0;
  padding: 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3a3a3a;
}
.menu__li-with {
  position: relative;
}
.menu__li-with::after {
  content: url("../img/Arrow-down.png");
  position: absolute;
  right: -25px;
  top: 25%;
  transition: all 0.3s;
}
.menu__sub-li {
  position: absolute;
  top: 50%;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
  min-width: 100px;
}
.menu__search {
  display: flex;
  min-width: 476px;
  background: #fff;
}
.menu__search img {
  padding: 12px;
}
.menu__search img:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.505));
}
.menu__search input {
  padding: 12px 12px 12px 0;
  width: 100%;
}
.menu__main-points {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__basket {
  margin-left: 32px;
}
.menu__profil-logo {
  margin-left: 32px;
}

.menu__list > li:hover .menu__sub-li {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 50;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.364);
}

.menu__list > li:hover .menu__li-with:after {
  content: url("../img/Arrow-up.png");
}

.burger-span {
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.burger-span span {
  height: 2px;
  width: 25px;
  position: relative;
  background: #000;
}
.burger-span span::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 25px;
  top: -8px;
  background: #000;
}
.burger-span span::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 25px;
  bottom: -8px;
  background: #000;
}

.burger {
  z-index: 30;
  display: none;
  width: 100%;
  left: 0;
  transform: translateX(-100%);
  background: #3a3a3a;
}
.burger__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.burger__basket {
  margin: 0 20px;
}
.burger__points {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: flex-end;
}
.burger hr {
  width: 200px;
  margin: 0 auto 15px 0;
}
.burger__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.burger__list li {
  display: flex;
  padding: 5px 20px 5px 15px;
  align-items: center;
  background: #303030;
  margin-bottom: 3px;
  min-height: 32px;
  width: 80%;
  position: relative;
  flex-wrap: wrap;
}
.burger__li {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin: 0 auto 0 0;
  padding: 15px 0;
}
.burger__plus {
  padding: 0;
  margin: 0;
  position: relative;
}
.burger__plus::after {
  content: "|";
  font-size: 16px;
  color: #fff;
  margin: 0 0 0 15px;
}
.burger__plus::before {
  content: "|";
  font-size: 16px;
  color: #fff;
  position: absolute;
  left: 16px;
  top: 1px;
  transform: rotate(90deg);
}
.burger__subli {
  padding: 0 10px 0 0;
  margin: 0;
  display: none;
  transform: translateY(-52px) scale(0);
  width: 100%;
  flex-direction: column;
}
.burger__subli a {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  margin: 0 0 10px 0;
}

.burger__subli.active {
  transform: translateY(0px) scale(1);
  display: flex;
}

.burger__plus.active::after {
  opacity: 0;
}

.header.active .menu {
  width: 100%;
  background: #3a3a3a;
}
.header.active .menu__logo {
  color: #fff;
}

.header.active .burger-span span {
  height: 0px;
}
.header.active .burger-span span::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 30px;
  top: -1px;
  background: #fff;
  transform: rotate(-45deg);
}
.header.active .burger-span span::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 30px;
  bottom: -1px;
  background: #fff;
  transform: rotate(45deg);
}

.header.active .burger {
  padding: 0px 10px 0 10px;
  display: flex;
  position: fixed;
  overflow: scroll;
  height: 100%;
  transform: translateX(0%);
}

@media screen and (min-width: 1171px) {
  .burger-span {
    display: none;
  }
}
@media screen and (max-width: 1170px) {
  .menu__container {
    margin: 0;
  }
  .menu__wrapper {
    padding: 20px 0 15px 0;
  }
  .menu__logo {
    width: 10%;
  }
  .menu .burger-span {
    width: 5%;
  }
  .menu__search {
    min-width: 60%;
    margin: 0 auto;
  }
  .menu__list {
    display: none;
  }
  .menu__main-points {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  .menu__wrapper {
    flex-wrap: wrap;
  }
  .menu__logo {
    width: 40%;
    order: 0;
    margin: 0;
  }
  .menu .burger-span {
    margin-left: auto;
    width: 10%;
    order: 1;
  }
  .menu__search {
    min-width: 100%;
    order: 2;
    margin-top: 10px;
  }
}
.main__slider {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__header {
  display: flex;
  flex-wrap: wrap;
}
.main__slide {
  position: relative;
}
.main__slide img {
  max-width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 15;
}
.main__slide-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #3a3a3a;
}
.main__slide-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
  margin: 4px 0 8px 0;
}
.main__slide-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #3a3a3a;
  display: flex;
  width: 100%;
  align-items: center;
}
.main__slide-price img {
  margin-left: 50px;
}
.main__slide-block {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 40px;
  padding: 24px;
  background: rgba(255, 255, 255, 0.965);
}
.main__points {
  display: flex;
  justify-content: center;
}
.main .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 100px;
}
.main .swiper-pagination-bullet {
  background: #e89f71;
}
.main__banner {
  width: 45%;
  position: relative;
}
.main__banner-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #3a3a3a;
  margin-top: 32px;
}
.main__banner-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #898989;
  margin: 16px 0 43px 0;
}
.main__banner-button {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  background: #e89f71;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  width: 100%;
}
.main__control-slider {
  display: flex;
  width: 55%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px 0;
}
.main__banner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main__banner-arrow {
  transform: rotate(230deg);
}
.main__banner-arrow.activate {
  transform: rotate(50deg);
  padding: 25px;
}

.main__navigation {
  display: flex;
  align-items: flex-end;
  height: 100%;
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  width: 48px;
  height: 48px;
  background: #e89f71;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
  font-size: 16px;
}

.main-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev {
  margin: 0 8px 0 0;
}

.main__banner-wrapper.activate {
  padding: 0;
  background: #e89f71;
}

.main__banner.activate .main__banner-title {
  display: none;
}

.main__banner.activate .main__banner-text {
  display: none;
}

.main__banner.activate .main__banner-button {
  display: none;
}

@media screen and (max-width: 1100px) {
  .main__control-slider {
    width: 100%;
    order: 0;
    justify-content: center;
  }
  .main__points {
    margin: 0 -100px 0 auto;
  }
  .main__navigation {
    margin: 0 0 0 auto;
  }
  .main__slider {
    order: 1;
  }
  .main__banner {
    margin: 20px 0 20px 0;
    width: 100%;
    order: 2;
  }
  .main__banner-title {
    font-size: 36px;
  }
  .main__banner-text {
    font-size: 16px;
    margin: 16px 0 43px 0;
  }
  .main__banner-button {
    font-size: 16px;
    line-height: 50%;
    padding: 24px 0;
  }
  .main__banner-wrapper {
    max-width: 100%;
    margin: 0;
    padding: 10px;
    position: static;
  }
  .main__banner-arrow {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .main__slide {
    display: flex;
    flex-direction: column-reverse;
  }
  .main__slide-block {
    position: static;
    margin: 0;
  }
  .main .swiper-button-prev,
.main .swiper-button-next {
    width: 40px;
    height: 40px;
  }
  .main .swiper-button-prev::after,
.main .swiper-button-next::after {
    font-size: 16px;
  }
  .main .swiper-button-prev {
    margin: 0 15px 0 0;
  }
}
@media screen and (max-width: 460px) {
  .main__control-slider {
    width: 100%;
    order: 0;
    justify-content: space-between;
  }
  .main__points {
    margin: 0;
  }
}
.products__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #3a3a3a;
  margin-bottom: 32px;
}
.products__list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.card {
  max-width: 100%;
  margin: 16px 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__image {
  height: 280px;
}
.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__block {
  padding: 16px;
  background: #f4f5f7;
}
.card__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #3a3a3a;
}
.card__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
  margin: 8px 0;
}
.card__price {
  display: flex;
  align-items: center;
}
.card__price p {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #3a3a3a;
  margin: 0;
}
.card__price span {
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #b0b0b0;
}
.card__status {
  position: absolute;
  top: 25px;
  right: 25px;
}
.card__discount {
  background: #e97171;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.card__new {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  background: #2ec1ac;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__substrate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 58, 58, 0.768627451);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.card__substrate-button {
  width: 200px;
  font-weight: 600;
  font-size: 16px;
  color: #e89f71;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  background: #fff;
}
.card__substrate-icon {
  display: flex;
  align-items: center;
  width: 190px;
  margin-top: 24px;
  justify-content: space-between;
}
.card__substrate-share {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.card__substrate-share img {
  margin-right: 8px;
}
.card__substrate-like {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.card__substrate-like img {
  margin-right: 8px;
}

.card:hover .card__substrate {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media screen and (max-width: 1250px) {
  .products__list {
    grid-template-columns: 32% 32% 32%;
  }
}
@media screen and (max-width: 950px) {
  .products__list {
    grid-template-columns: 50% 50%;
  }
  .card {
    margin: 8px 8px;
  }
}
@media screen and (max-width: 580px) {
  .products__list {
    grid-template-columns: 100%;
  }
  .card {
    margin: 8px 0;
  }
}
.feature {
  padding: 80px 0;
}
.feature__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.feature__block {
  display: flex;
  align-items: center;
}
.feature__img {
  padding: 22px;
}
.feature__main p {
  margin: 0;
}
.feature__main p:first-child {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #3a3a3a;
}
.feature__main p:last-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
}

@media screen and (max-width: 1100px) {
  .feature {
    padding: 40px 0;
  }
  .feature__block {
    width: 50%;
  }
}
@media screen and (max-width: 660px) {
  .feature {
    padding: 30px 0;
  }
  .feature__block {
    width: 100%;
  }
}