.products {
	&__container {
	}

	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 120%;
		text-align: center;
		color: #3a3a3a;
		margin-bottom: 32px;
	}

	&__list {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
	}
}
.card {
	max-width: 100%;
	margin: 16px 16px;
	display: flex;
	flex-direction: column;
	position: relative;
	&__image {
		height: 280px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__block {
		padding: 16px;
		background: #f4f5f7;
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		color: #3a3a3a;
	}

	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		color: #898989;
		margin: 8px 0;
	}

	&__price {
		display: flex;
		align-items: center;
		p {
			font-weight: 600;
			font-size: 20px;
			line-height: 150%;
			color: #3a3a3a;
			margin: 0;
		}
		span {
			margin-left: auto;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			text-decoration-line: line-through;
			color: #b0b0b0;
		}
	}

	&__status {
		position: absolute;
		top: 25px;
		right: 25px;
	}

	&__discount {
		background: #e97171;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		color: #ffffff;
	}

	&__new {
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		color: #ffffff;
		background: #2ec1ac;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__substrate {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #3a3a3ac4;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		&-button {
			width: 200px;
			font-weight: 600;
			font-size: 16px;
			color: #e89f71;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 12px 0;
			background: #fff;
		}
		&-icon {
			display: flex;
			align-items: center;
			width: 190px;
			margin-top: 24px;
			justify-content: space-between;
		}
		&-share {
			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: 16px;
			line-height: 150%;
			color: #ffffff;
			img {
				margin-right: 8px;
			}
		}
		&-like {
			display: flex;
			align-items: center;
			font-weight: 600;
			font-size: 16px;
			line-height: 150%;
			color: #ffffff;
			img {
				margin-right: 8px;
			}
		}
	}
}
.card:hover .card__substrate {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

@media screen and (max-width: 1250px) {
	.products__list {
		grid-template-columns: 32% 32% 32%;
	}
}
@media screen and (max-width: 950px) {
	.products__list {
		grid-template-columns: 50% 50%;
	}
	.card {
		margin: 8px 8px;
	}
}
@media screen and (max-width: 580px) {
	.products__list {
		grid-template-columns: 100%;
	}
	.card {
		margin: 8px 0;
	}
}
